<div class="row">
  <div class="container">
    <div class="col s12">
      <%= @product.name %>
      <br>
      <%= @product.description %>
      <br>
      <%= image_tag @product.small_img.url %>
      <%= image_tag @product.big_img_one.url %>
      <%= image_tag @product.big_img_two.url %>
    </div>
  </div>
</div>