<!DOCTYPE html>
<html>
  <head>
    <title>NashvilleHiFi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>

  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="/assets/nashvilleHiFi-logo-white.png" alt="Nashville HiFi" style="max-width: 250px;"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#products">Products</a></li>
          <li><a href="/qa">QA</a></li>
          <li><a href="collapsible.html">Contact</a></li>
          <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
  </body>
</html>
